/gitignore/
/surveys/
/images/creatorPics/
/images/surveys/
/images/DTD/
/results/
/weatherData/
/vendor/
/assets/google/
/assets/sass/
/assets/js/src/
/assets/webfonts/
/assets/x86fonts/
/survey-drafts/
/load/
