ErrorDocument 301 %{HTTP_HOST}/?content=error&code=301

ErrorDocument 400 https://%{HTTP_HOST}/?content=error&code=400
ErrorDocument 401 https://%{HTTP_HOST}/?content=error&code=401
ErrorDocument 402 https://%{HTTP_HOST}/?content=error&code=402
ErrorDocument 403 https://%{HTTP_HOST}/?content=error&code=403
ErrorDocument 404 https://%{HTTP_HOST}/?content=error&code=404
ErrorDocument 405 https://%{HTTP_HOST}/?content=error&code=405
ErrorDocument 406 https://%{HTTP_HOST}/?content=error&code=406
ErrorDocument 408 https://%{HTTP_HOST}/?content=error&code=408
ErrorDocument 410 https://%{HTTP_HOST}/?content=error&code=410
ErrorDocument 413 https://%{HTTP_HOST}/?content=error&code=413
ErrorDocument 414 https://%{HTTP_HOST}/?content=error&code=414
ErrorDocument 415 https://%{HTTP_HOST}/?content=error&code=415
#ErrorDocument 418 https://%{HTTP_HOST}/?content=error&code=418
ErrorDocument 429 https://%{HTTP_HOST}/?content=error&code=429

ErrorDocument 500 https://%{HTTP_HOST}/?content=error&code=500
ErrorDocument 501 https://%{HTTP_HOST}/?content=error&code=501
ErrorDocument 502 https://%{HTTP_HOST}/?content=error&code=502
ErrorDocument 503 https://%{HTTP_HOST}/?content=error&code=503
ErrorDocument 504 https://%{HTTP_HOST}/?content=error&code=504