:root {
    --generic-mid-grey: black;
    --generic-light-grey: black;
    --generic-dark-grey: black;
    --generic-hover: #d96d6d;
    --generic-white: white;
    --generic-body-back: white;
    --generic-grey-opacity-065: black;
    --generic-grey-opacity-03: black;
    --generic-grey-opacity-0075: white;
    --generic-grey-opacity-005: black;
    --error-opacity: 1;
}

.color_scheme_select {
    color: black;
}

#menu, #header {
    border-style: outset;
    border-width: 0.2em;
    border-color: black;
    min-height: 4em;
}

p, i, a {
    font-weight: bold !important;
}

.light-mode {
    display: block;
}
.dark-mode {
    display: none;
}